[submodule "9_ryabchenko_denis"]
	path = 9_ryabchenko_denis
	url = https://github.com/nomod/my_ruby.git
[submodule "7_kuchurina_anastasia"]
	path = 7_kuchurina_anastasia
	url = https://github.com/AStasyK/anakuc-ror.git
[submodule "2_zaripova_dilyara"]
	path = 2_zaripova_dilyara
	url = https://github.com/DilyaZaripova/rubintest.git
[submodule "8_orlov_oleg"]
	path = 8_orlov_oleg
	url = https://github.com/Civility/orlruby.git
[submodule "6_kostorubin_igor"]
	path = 6_kostorubin_igor
	url = https://github.com/kostrubin/rp.git
[submodule "5_kostin_nikolay"]
	path = 5_kostin_nikolay
	url = https://github.com/NikolayKostin/Project.git
[submodule "3_ivanov_alexander"]
	path = 3_ivanov_alexander
	url = https://github.com/OLEIVO/alxProject.git
[submodule "1_ezhova_tatiana"]
	path = 1_ezhova_tatiana
	url = https://github.com/ezhova-ta/ezhovaproject.git
[submodule "4-kolosova-elena"]
	path = 4-kolosova-elena
	url = https://github.com/klsva/Ruby-project.git
